.nav-main {
  //   border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  //   padding-top: 1%;
  margin-bottom: 2%;
  background-color: #000;
  height: 10vh;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  color: #f1c40f;
}

.nav-logo-div {
  //   border: 1px dashed black;
  width: 20%;
  font-size: 2rem;
  font-family: "Russo One", sans-serif;
}

.nav-logo-first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: #f1c40f;
}

.nav-sections-div {
  //   border: 1px dashed black;
  display: flex;
  width: 33%;
  justify-content: space-between;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-social-div {
  //   border: 1px dashed black;
  display: flex;
  width: 10%;
  justify-content: space-between;
  font-size: 1.3rem;
}

.nav-social-link {
  color: #f1c40f;
  text-decoration: none;
}

.nav-social-link:hover {
  color: #fff;
}

.no-hover:hover {
  color: #fff;
}
