.pf-main {
  //   border: 1px dashed black;
  margin-bottom: 3%;
}

.pf-video-container {
  //   border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.pf-video-text-container {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.pf-video-title {
  font-size: 1.5rem;
  margin-bottom: 2%;
  font-weight: bold;
}

.pf-video-summary {
  font-size: 1.1rem;
}

.fp-secondary-div {
  //   border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  padding: 0% 2%;
}

.fp-secondary-individual-div {
  //   border: 1px dashed black;
  width: 30%;
}

.fp-secondary-video-container {
  margin-bottom: 5%;
}

.fp-secondary-text-div {
  width: 448px;
}

.fp-secondary-title {
  margin-bottom: 3%;
  font-size: 1.2rem;
  font-weight: bold;
}
